#navbar {
    display: flex;
    background-color: rgb(147, 197, 253); /* bg-blue-300 */
}

.left-menu {
    width: 80%; /* w-4/5 */
    background-color: rgb(107, 114, 128); /* bg-gray-500 */
}

.menu-list {
    display: flex;
    padding: 1rem; /* p-4 */
    color: white;
    font-weight: bold;
}

.menu-item {
    padding-right: 1.5rem; /* pr-6 */
    font-size: 1.5rem; /* text-2xl */
}

.right-menu {
    width: 20%; /* w-1/5 */
    display: flex;
    justify-content: flex-end;
    background-color: rgb(253, 186, 116); /* bg-orange-300 */
    padding: 1rem; /* p-4 */
    font-weight: 500; /* font-medium */
}

.login-button {
    color: white;
    font-size: 0.875rem; /* text-sm */
    margin: 0.25rem; /* m-1 */
    border-radius: 0.25rem; /* rounded */
} 